{% extends "base.html" %}
{% block content %}
<div class="row align-items-center">
  <div class="col-md-6">
    <h1 class="display-6">Find movies you'll actually watch</h1>
    <p class="lead">Personalized picks, explainable reasons, and a handy archive. Sign up and get started.</p>
    <a class="btn btn-primary me-2" href="{{ url_for('register_ui') }}">Get started</a>
    <a class="btn btn-outline-secondary" href="{{ url_for('login_ui') }}">Sign in</a>
  </div>
  <div class="col-md-6">
    <img src="https://via.placeholder.com/700x380?text=Archivr+Movies" class="img-fluid rounded" alt="hero">
  </div>
</div>
{% endblock %}
